<div class="contenedor-cuerpo">
    <a href="<%= link %>">
        <img src="<%= img %>" alt="<%= alt %>" class="imagen-cuerpo">

        <div class="info-wrapper">
            <div class="info-imagen">
                <span class="texto-izq">
                    <%= title %>
                </span>

                <div class="linea-vertical"></div>

                <span class="texto-der">
                    <%= points %> <br>
                    <span style="color: gray;">PUNTOS</span>
                </span>
            </div>
        </div>
    </a>
</div>