<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: category }) %>

<body>

<%- include('../partials/header', { perfilLink: '/login' }) %>




<main>
    <h1 class="subtitulo"><%= category.charAt(0).toUpperCase() + category.slice(1) %></h1>

    <a href="/" class="volver-listado">
        <div class="subtitulo-2">
            <img src="/img/ui/flecha-izquierda.png" alt="<-">
            <span>Volver al inicio</span>

            <img src="/img/ui/flecha-derecha.png" alt="->">

            <span>
                <%= category.charAt(0).toUpperCase() + category.slice(1) %>
            </span>

        </div>
    </a>

    <% if (products.length > 0) { %>

        <div class="cuerpo">
            <% products.forEach(product => { %>
                <%- include('../partials/productCard', { product }) %>
            <% }) %>
        </div>

    <% } else { %>

        <p>No hay productos en esta categoría.</p>

    <% } %>

</main>

<%- include('../partials/footer') %>

</body>
</html>