<!DOCTYPE html>
<html lang="es">
    
<%- include('../partials/head', { title: 'Home' }) %>

<body>

    <%- include('../partials/header', { perfilLink: '/menu' }) %>

    <main>

<%- include('../partials/categories', { recuadroClass: 'recuadro' }) %>

<div class="home-hero">
    <ul class="home-hero-list">
        <li class="home-hero-item">
            <div class="home-hero-container">
                <img src="/img/ui/Imagen grande de la Izquierda.png" alt="imagen-grande1" class="home-hero-image">

                <div class="home-hero-overlay">
                    <img src="/img/ui/icono1.jpg" alt="icono" class="home-icon">

                    <ul>
                        <li class="home-hero-title">50% OFF en Combo Plus</li>
                        <li class="home-hero-subtitle">Canjeando 50.000 puntos MiEcommerce</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="home-hero-item">
            <div class="home-hero-container">
                <img src="/img/ui/Imagen grande de la derecha.png" alt="imagen-grande2" class="home-hero-image">

                <div class="home-hero-overlay">
                    <img src="/img/ui/icono2.jpg" alt="icono" class="home-icon">

                    <ul>
                        <li class="home-hero-title">50% OFF en Combo Plus</li>
                        <li class="home-hero-subtitle">Canjeando 50.000 puntos MiEcommerce</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>

<h2 class="home-subtitle">Te puede interesar</h2>

<div class="product-grid">
    <% suggested.forEach(product => { %>
        <%- include('../partials/productCard', { product }) %>
    <% }) %>
</div>

<h2 class="home-subtitle">Lo más pedido</h2>

<div class="product-grid-alt">
    <% popularProducts.forEach(product => { %>
        <%- include('../partials/productCard', { product }) %>
    <% }) %>
</div>

<%- include('../partials/categories', { categoryWrapperClass: 'category-wrapper' }) %>
    </main>

<%- include('../partials/footer') %>

</body>
</html>