<!DOCTYPE html>
<html lang="es">
    
<%- include('../partials/head', { title: 'Home' }) %>

<body>

    <%- include('../partials/header', { perfilLink: '/menu' }) %>

    <main>
        <div class="recuadro">
            <ul class="desordenada">
                
                    <li class="solitaria-imagen">
                        <a href="#">
                            <img src="/img/boton 1 (electronica).png" alt="electronica" class="imagen">
                            <p class="texto"> Electrónica </p>
                        </a>
                    </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 2 (alimentos).png" alt="alimentos" class="imagen">
                        <p class="texto"> Alimentos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 3 (bebidas).png" alt="bebidas" class="imagen">
                        <p class="texto"> Bebidas </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 4 (indumentaria).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Indumentaria </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 5 (juegos).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Juegos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 6 (automotor).png" alt="automotor" class="imagen">
                        <p class="texto"> Automotor </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 7 (hogar).png" alt="hogar" class="imagen">
                        <p class="texto"> Hogar </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 8 (otros).png" alt="otros" class="imagen">
                        <p class="texto"> Otros </p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="recuadro-principal">
            <ul class="desordenada-principal">
                <li class="lista-imagen-principal">
                    <div class="contenedor-imagen">
                            <img src="/img/Imagen grande de la Izquierda.png" alt="imagen-grande1" class="imagen-principal-izquierda">
                        <div class="info-superpuesta">
                            <img src="/img/icono1.jpg" alt="icono" class="icono">
                            <ul>
                                <li class="descripcion">50% OFF en Combo Plus</li>
                                <li class="descripcion-2">Canjeando 50.000 puntos MiEcommerce</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="lista-imagen-principal"> 
                    <div class="contenedor-imagen">
                            <img src="/img/Imagen grande de la derecha.png" alt="imagen-grande2" class="imagen-principal-derecha">
                        <div class="info-superpuesta">
                            <img src="/img/icono2.jpg" alt="icono" class="icono">
                            <ul>
                                <li class="descripcion">50% OFF en Combo Plus</li>
                                <li class="descripcion-2">Canjeando 50.000 puntos MiEcommerce</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <h2 class="subtitulo">Te puede interesar</h2>
        <div class="cuerpo">
            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/jack.png',
                alt: 'whisky jack daniels honey',
                title: 'Jack Daniels Honey 750ml',
                points: '19.900'
            }) %>

            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>

            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>

            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>
        </div>

        <h2 class="subtitulo">Lo más pedido</h2>

        <div class="cuerpo-2">
            <%- include('../partials/productCard', {
                link: '/product2',
                img: '/img/coca.png',
                alt: 'Coca Cola',
                title: 'Coca Cola Lata 220ml Pack Original x8',
                points: '760'
            }) %>

            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>

            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>

            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>

            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>

            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>

            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>
            
            <%- include('../partials/productCard', {
                link: '/product',
                img: '/img/placeholder.jpg',
                alt: 'producto',
                title: 'Nombre del producto o servicio',
                points: 'XX.XXX'
            }) %>
        </div>

        <div class="recuadro-2">
            <ul class="desordenada">
                <li class="solitaria-imagen">
                    <a href="#">
                        <img src="/img/boton 1 (electronica).png" alt="electronica" class="imagen">
                        <p class="texto"> Electrónica </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 2 (alimentos).png" alt="alimentos" class="imagen">
                        <p class="texto"> Alimentos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 3 (bebidas).png" alt="bebidas" class="imagen">
                        <p class="texto"> Bebidas </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 4 (indumentaria).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Indumentaria </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 5 (juegos).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Juegos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 6 (automotor).png" alt="automotor" class="imagen">
                        <p class="texto"> Automotor </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 7 (hogar).png" alt="hogar" class="imagen">
                        <p class="texto"> Hogar </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 8 (otros).png" alt="otros" class="imagen">
                        <p class="texto"> Otros </p>
                    </a>
                </li>
            </ul>
        </div>
    </main>

<%- include('../partials/footer') %>

</body>
</html>